.item {
  box-shadow:
    0 1px 4px rgba(0, 0, 0, 0.3),
    0 1px 12px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  padding: 1rem;
}

.card {
  display: grid;
  grid-template-rows: auto;
  text-align: center;
}

.card img {
  object-fit: fill;
  object-position: center;
  overflow: hidden;
  border-radius: 10px;
  width: 240px;
  height: 240px;
  box-shadow: 3px 3px 5px gray;
}

.card p {
  text-align: center;
}
