.container {
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.title {
  font-family: "Roboto Mono", "Large 500";
  color: rgb(65, 65, 65);
  text-align: center;
}

.content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
  box-shadow: 0.25em 0.15em 1.2em gray;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  max-width: 100%;
  height: auto;
}

.content p {
  text-align: justify;
  letter-spacing: 0.01rem;
  line-height: 2rem;
  font-size: 1.15rem;
  color: var(--font-color1);
}
